@use '~/styles/base/variables' as *;
@use '~/styles/base/mixins' as *;
@use '~/styles/base/functions' as *;

:root {
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
}
