@use 'sass:math';

// breakpoints
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

// design size
$design-size: (
  'pc-width': 1440,
  'pc-height': 880,
  'sp-width': 750,
  'sp-height': 1334,
);

// color
$color-white: #ffffff;
$color-black: #000000;

// z-index
$z-index-header: 1000;

// animation
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);

$ease-base-transform: $ease-out-quint;
$ease-base-material: linear;

$duration-base-transform: 0.6s;
$duration-base-material: 0.2s;
